<!DOCTYPE html>
<html>
<head>
  <title>Concert Management</title>
  <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
<h1>Welcome to Concert System</h1>
<ul>
  <li><a href="/concerts">Manage Concerts</a></li>
  <li><a href="/performers">Manage Performers</a></li>
  <li><a href="/assignments/add">Assign Performer to Concert</a></li>
</ul>
</body>
</html>
